@model IEnumerable<temp0.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Users/Views/Shared/Users1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.longText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shortText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.add_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.names)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.News_category.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.News_images.image_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.News_videos.video_path)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.longText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shortText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.add_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.names)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.News_category.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.News_images.image_path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.News_videos.video_path)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
